.widget-baseswitch_short-{{id}} {
	position: relative;
}

.widget-baseswitch_short-{{id}} .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch_short-{{id}} .title2 {
	position: absolute;
	top: 20px;
	width: 100%;
}

.widget-baseswitch_short-{{id}} .state_text {
	position: absolute;
	bottom: -6px;
	font-size: 90%;
	width: 100%;
}

.widget-baseswitch_short-{{id}} .icon {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baseswitch_short-{{id}} .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

