
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding: 0;
}

body {
  margin: 0;
  background-color: #222;
  font-size: 15px;
  color: #fff;
  padding: 0;
  line-height: 1;
  font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans', 'Arial'
}

b, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

img, object {
  max-width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

iframe {
  max-width: 100%;
}
  
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  vertical-align: middle;
}

ul, ol {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}
h1 {
  margin-bottom: 6px;
  text-align: center;
  font-size: 100%;
  font-weight: 200;
}
h2 {
  font-size: 300%;
  font-weight: 400;
  color: #fff;
}
h3 {
  font-size: 125%;
  font-weight: 300;
  color: #fff;
}

input {
  background-color: #444;
  border: none;
}

.dashboard_main {
	margin: 0px auto;
}

.gridster {
  margin: 0px auto;
}

.icon-background {
  pointer-events: none;
  width: 100%!important;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  font-size: 1375%;
  text-align: center;
  margin-top: 82px;
}

.list-nostyle {
  list-style: none;
}

.gridster ul {
  list-style: none;
}

.gs-w {
  width: 100%;
  display: table;
  cursor: pointer;
  z-index: auto !important;
}

.iframe {
  position: relative;
  overflow: hidden;  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

.widget {
  padding: 0px 0px;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  background-color: #444444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

.title {
  color: #fff;
}

.icon-inactive {
  color: #888;
}

.icon-active {
  color: #aaff00;
}


#container {
  padding-top: 0px;
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialogOpen {
	opacity:0.95;
	pointer-events: auto;
}

.modalDialogClose {
	opacity:0;
	pointer-events: none;
}

.modalDialog > div {
	width: 275px;
	position: relative;
	margin: 3% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
}

.modalDialogCloseButton {
	line-height: 50px;
	position: absolute;
	right: -25px;
	text-align: center;
	top: -20px;
	width: 50px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.modalDialogCloseButton:hover { background: #444; }

.widget-baseclock-default-date-time.date {
	position: absolute;
	top: 5px;
	width: 100%;
}
.widget-baseclock-default-date-time.time {
 	position: absolute;
	top: 45px;
	width: 100%;
}
.widget-baseweather-default-weather {
	color: white;
}

.widget-baseweather-default-weather h1 {
	margin-bottom: 0px;
}

.widget-baseweather-default-weather [class^="primary"] {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.widget-baseweather-default-weather [class^="secondary"] {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.widget-baseweather-default-weather .primary-climacon {
	font-family: "Climacons-Font";
	font-size: 55px;
}

.widget-baseweather-default-weather .primary-info {
	font-size: 300%;
	font-weight: 400;
}

.widget-baseweather-default-weather .primary-unit {
	font-size: 300%;
	font-weight: 400;
	margin-left: 0;
	margin-top: 10px;
	vertical-align: top;
}

.widget-baseweather-default-weather .secondary-icon {
	font-family: "Climacons-Font";
	font-size: 40px;
	margin-left: 10px;
	margin-right: 0px;
}

.widget-baseweather-default-weather .secondary-climacon {
	font-family: "Climacons-Font";
	font-size: 55px;
	margin-left: 10px;
	margin-right: 10px;
}

.widget-baseweather-default-weather .secondary-info {
	font-size: 120%;
	font-weight: 200;
}

.widget-baseweather-default-weather hr {
	width: 90%;
	border: 0;
	height: 1px;
	background: rgba(255, 255, 255, 0.25);
	margin-top: 15px;
	margin-bottom: 15px;
}
.widget-baserss-default-rss-weather .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-baserss-default-rss-weather .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-baserss-default-rss-weather .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baserss-default-rss-weather .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baserss-default-rss-weather .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}
.widget-baseswitch-default-wayne-presence {
	position: relative;
}

.widget-baseswitch-default-wayne-presence .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-wayne-presence .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-wayne-presence .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-wayne-presence .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-wayne-presence .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-jenn-presence {
	position: relative;
}

.widget-baseswitch-default-jenn-presence .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-jenn-presence .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-jenn-presence .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-jenn-presence .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-jenn-presence .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-kale-presence {
	position: relative;
}

.widget-baseswitch-default-kale-presence .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-kale-presence .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-kale-presence .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-kale-presence .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-kale-presence .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-jalynne-presence {
	position: relative;
}

.widget-baseswitch-default-jalynne-presence .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-jalynne-presence .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-jalynne-presence .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-jalynne-presence .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-jalynne-presence .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.widget-baseerror-default-jenn-bedroom .error {
	position: absolute;
	top: 5px;
	width: 100%;
}


.widget-basedisplay-default-label-2 .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-label-2 .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-label-2 .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-label-2 .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-label-2 .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-label-2 .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}


.widget-baseerror-default-bedtime .error {
	position: absolute;
	top: 5px;
	width: 100%;
}


.widget-basedisplay-default-label-3 .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-label-3 .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-label-3 .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-label-3 .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-label-3 .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-label-3 .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-label-4 .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-label-4 .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-label-4 .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-label-4 .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-label-4 .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-label-4 .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}


.widget-baseerror-default-kitchen-bedroom-speaker-group .error {
	position: absolute;
	top: 5px;
	width: 100%;
}


.widget-basedisplay-default-label-5 .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-label-5 .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-label-5 .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-label-5 .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-label-5 .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-label-5 .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}


.widget-baseerror-default-bedroom-radio-station-p1 .error {
	position: absolute;
	top: 5px;
	width: 100%;
}



.widget-baseerror-default-bedroom-radio-station .error {
	position: absolute;
	top: 5px;
	width: 100%;
}



.widget-baseerror-default-bedroom-radio-station-p2 .error {
	position: absolute;
	top: 5px;
	width: 100%;
}



.widget-baseerror-default-bedroom-plex .error {
	position: absolute;
	top: 5px;
	width: 100%;
}


.widget-basedisplay-default-label-6 .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-label-6 .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-label-6 .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-label-6 .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-label-6 .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-label-6 .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}


.widget-baseerror-default-bedroom-chromecast .error {
	position: absolute;
	top: 5px;
	width: 100%;
}


.widget-basedisplay-default-label-7 .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-label-7 .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-label-7 .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-label-7 .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-label-7 .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-label-7 .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}


.widget-baseerror-default-bedroom-speaker .error {
	position: absolute;
	top: 5px;
	width: 100%;
}



.widget-baseerror-default-bedroom-radio-station-p3 .error {
	position: absolute;
	top: 5px;
	width: 100%;
}



.widget-baseerror-default-bedroom-radio-station-p4 .error {
	position: absolute;
	top: 5px;
	width: 100%;
}


.widget-basenavigate-default-load-main-panel .icon {
	position: absolute;
	top: 28px;
	width: 100%;
}

.widget-basenavigate-default-load-main-panel .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basenavigate-default-load-main-panel .title2 {
	position: absolute;
	bottom: -2px;
	width: 100%;
}

.widget-basenavigate-default-load-main-panel .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basenavigate-default-load-familyroom-panel .icon {
	position: absolute;
	top: 28px;
	width: 100%;
}

.widget-basenavigate-default-load-familyroom-panel .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basenavigate-default-load-familyroom-panel .title2 {
	position: absolute;
	bottom: -2px;
	width: 100%;
}

.widget-basenavigate-default-load-familyroom-panel .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basenavigate-default-load-theatre-panel .icon {
	position: absolute;
	top: 28px;
	width: 100%;
}

.widget-basenavigate-default-load-theatre-panel .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basenavigate-default-load-theatre-panel .title2 {
	position: absolute;
	bottom: -2px;
	width: 100%;
}

.widget-basenavigate-default-load-theatre-panel .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basenavigate-default-load-bedroom-panel .icon {
	position: absolute;
	top: 28px;
	width: 100%;
}

.widget-basenavigate-default-load-bedroom-panel .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basenavigate-default-load-bedroom-panel .title2 {
	position: absolute;
	bottom: -2px;
	width: 100%;
}

.widget-basenavigate-default-load-bedroom-panel .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basenavigate-default-load-weather .icon {
	position: absolute;
	top: 28px;
	width: 100%;
}

.widget-basenavigate-default-load-weather .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basenavigate-default-load-weather .title2 {
	position: absolute;
	bottom: -2px;
	width: 100%;
}

.widget-basenavigate-default-load-weather .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basenavigate-default-load-sensors-panel .icon {
	position: absolute;
	top: 28px;
	width: 100%;
}

.widget-basenavigate-default-load-sensors-panel .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basenavigate-default-load-sensors-panel .title2 {
	position: absolute;
	bottom: -2px;
	width: 100%;
}

.widget-basenavigate-default-load-sensors-panel .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basenavigate-default-load-settings .icon {
	position: absolute;
	top: 28px;
	width: 100%;
}

.widget-basenavigate-default-load-settings .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basenavigate-default-load-settings .title2 {
	position: absolute;
	bottom: -2px;
	width: 100%;
}

.widget-basenavigate-default-load-settings .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basenavigate-default-reload .icon {
	position: absolute;
	top: 28px;
	width: 100%;
}

.widget-basenavigate-default-reload .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basenavigate-default-reload .title2 {
	position: absolute;
	bottom: -2px;
	width: 100%;
}

.widget-basenavigate-default-reload .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
