
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding: 0;
}

body {
  margin: 0;
  background-color: #222;
  font-size: 15px;
  color: #fff;
  padding: 0;
  line-height: 1;
  font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans', 'Arial'
}

b, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

img, object {
  max-width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

iframe {
  max-width: 100%;
}
  
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  vertical-align: middle;
}

ul, ol {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}
h1 {
  margin-bottom: 6px;
  text-align: center;
  font-size: 100%;
  font-weight: 200;
}
h2 {
  font-size: 300%;
  font-weight: 400;
  color: #fff;
}
h3 {
  font-size: 125%;
  font-weight: 300;
  color: #fff;
}

input {
  background-color: #444;
  border: none;
}

.dashboard_main {
	margin: 0px auto;
}

.gridster {
  margin: 0px auto;
}

.icon-background {
  pointer-events: none;
  width: 100%!important;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  font-size: 1375%;
  text-align: center;
  margin-top: 82px;
}

.list-nostyle {
  list-style: none;
}

.gridster ul {
  list-style: none;
}

.gs-w {
  width: 100%;
  display: table;
  cursor: pointer;
  z-index: auto !important;
}

.iframe {
  position: relative;
  overflow: hidden;  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

.widget {
  padding: 0px 0px;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  background-color: #444444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

.title {
  color: #fff;
}

.icon-inactive {
  color: #888;
}

.icon-active {
  color: #aaff00;
}


#container {
  padding-top: 0px;
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialogOpen {
	opacity:0.95;
	pointer-events: auto;
}

.modalDialogClose {
	opacity:0;
	pointer-events: none;
}

.modalDialog > div {
	width: 275px;
	position: relative;
	margin: 3% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
}

.modalDialogCloseButton {
	line-height: 50px;
	position: absolute;
	right: -25px;
	text-align: center;
	top: -20px;
	width: 50px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.modalDialogCloseButton:hover { background: #444; }

.widget-base_light_with_brightness-default-jenn-bedroom {
	position: relative;
}
.widget-base_light_with_brightness-default-jenn-bedroom .title {
    position: absolute;
    top: 5px;
    width: 100%;
}
.widget-base_light_with_brightness-default-jenn-bedroom .title2 {
    position: absolute;
    top: 23px;
    width: 100%;
}
.widget-base_light_with_brightness-default-jenn-bedroom .iconcontainer {
	position: absolute;
	bottom: 30%;
	width: 100%;
}

.widget-base_light_with_brightness-default-jenn-bedroom .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-base_light_with_brightness-default-jenn-bedroom .slidercontainer {
   position: absolute;
   bottom: 5px;
   height: 25%;
   overflow: hidden;
   width: 100%;
   horizontal-align: center;
   margin:auto;
}

.widget-base_light_with_brightness-default-jenn-bedroom input[type=range] {
  -webkit-appearance: slider-horizontal;
  border: 1px solid white;
  height: 90%;
  width: 90%;
}
.widget-baseswitch-default-jalynne-bedroom-light {
	position: relative;
}

.widget-baseswitch-default-jalynne-bedroom-light .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-jalynne-bedroom-light .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-jalynne-bedroom-light .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-jalynne-bedroom-light .icon {
	position: absolute;
	top: 50px;
	width: 100%;
}

.widget-baseswitch-default-jalynne-bedroom-light .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-jalynne-bedroom-fan {
	position: relative;
}

.widget-baseswitch-default-jalynne-bedroom-fan .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-jalynne-bedroom-fan .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-jalynne-bedroom-fan .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-jalynne-bedroom-fan .icon {
	position: absolute;
	top: 50px;
	width: 100%;
}

.widget-baseswitch-default-jalynne-bedroom-fan .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basedisplay-default-label-top .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-label-top .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-label-top .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-label-top .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-label-top .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-label-top .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basebutton_remote-default-plex-skip-back {
	position: relative;
}

.widget-basebutton_remote-default-plex-skip-back .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basebutton_remote-default-plex-skip-back .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basebutton_remote-default-plex-skip-back .icon {
	position: absolute;
	top: 27px;
	font-size: 400%;
	width: 100%;
}

.widget-basebutton_remote-default-plex-skip-back .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basebutton_remote-default-plex-direction-up {
	position: relative;
}

.widget-basebutton_remote-default-plex-direction-up .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basebutton_remote-default-plex-direction-up .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basebutton_remote-default-plex-direction-up .icon {
	position: absolute;
	top: 27px;
	font-size: 400%;
	width: 100%;
}

.widget-basebutton_remote-default-plex-direction-up .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basebutton_remote-default-plex-skip-fwd {
	position: relative;
}

.widget-basebutton_remote-default-plex-skip-fwd .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basebutton_remote-default-plex-skip-fwd .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basebutton_remote-default-plex-skip-fwd .icon {
	position: absolute;
	top: 27px;
	font-size: 400%;
	width: 100%;
}

.widget-basebutton_remote-default-plex-skip-fwd .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basebutton_remote-default-plex-direction-left {
	position: relative;
}

.widget-basebutton_remote-default-plex-direction-left .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basebutton_remote-default-plex-direction-left .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basebutton_remote-default-plex-direction-left .icon {
	position: absolute;
	top: 27px;
	font-size: 400%;
	width: 100%;
}

.widget-basebutton_remote-default-plex-direction-left .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basebutton_remote-default-plex-select {
	position: relative;
}

.widget-basebutton_remote-default-plex-select .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basebutton_remote-default-plex-select .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basebutton_remote-default-plex-select .icon {
	position: absolute;
	top: 27px;
	font-size: 400%;
	width: 100%;
}

.widget-basebutton_remote-default-plex-select .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basebutton_remote-default-plex-direction-right {
	position: relative;
}

.widget-basebutton_remote-default-plex-direction-right .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basebutton_remote-default-plex-direction-right .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basebutton_remote-default-plex-direction-right .icon {
	position: absolute;
	top: 27px;
	font-size: 400%;
	width: 100%;
}

.widget-basebutton_remote-default-plex-direction-right .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basebutton_remote-default-plex-skip-back2 {
	position: relative;
}

.widget-basebutton_remote-default-plex-skip-back2 .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basebutton_remote-default-plex-skip-back2 .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basebutton_remote-default-plex-skip-back2 .icon {
	position: absolute;
	top: 27px;
	font-size: 400%;
	width: 100%;
}

.widget-basebutton_remote-default-plex-skip-back2 .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basebutton_remote-default-plex-direction-down {
	position: relative;
}

.widget-basebutton_remote-default-plex-direction-down .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basebutton_remote-default-plex-direction-down .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basebutton_remote-default-plex-direction-down .icon {
	position: absolute;
	top: 27px;
	font-size: 400%;
	width: 100%;
}

.widget-basebutton_remote-default-plex-direction-down .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basebutton_remote-default-plex-back {
	position: relative;
}

.widget-basebutton_remote-default-plex-back .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basebutton_remote-default-plex-back .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basebutton_remote-default-plex-back .icon {
	position: absolute;
	top: 27px;
	font-size: 400%;
	width: 100%;
}

.widget-basebutton_remote-default-plex-back .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basebutton_remote_small-default-plex-rewind2 {
	position: relative;
}

.widget-basebutton_remote_small-default-plex-rewind2 .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-rewind2 .title2 {
	position: absolute;
	bottom: -5px;
	height: 60%;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-rewind2 .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-rewind2 .icon {
	position: absolute;
	top: 12px;
	font-size: 200%;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-rewind2 .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basebutton_remote_small-default-plex-rewind {
	position: relative;
}

.widget-basebutton_remote_small-default-plex-rewind .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-rewind .title2 {
	position: absolute;
	bottom: -5px;
	height: 60%;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-rewind .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-rewind .icon {
	position: absolute;
	top: 12px;
	font-size: 200%;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-rewind .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basebutton_remote_small-default-plex-fastforward {
	position: relative;
}

.widget-basebutton_remote_small-default-plex-fastforward .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-fastforward .title2 {
	position: absolute;
	bottom: -5px;
	height: 60%;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-fastforward .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-fastforward .icon {
	position: absolute;
	top: 12px;
	font-size: 200%;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-fastforward .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basebutton_remote_small-default-plex-fastforward2 {
	position: relative;
}

.widget-basebutton_remote_small-default-plex-fastforward2 .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-fastforward2 .title2 {
	position: absolute;
	bottom: -5px;
	height: 60%;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-fastforward2 .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-fastforward2 .icon {
	position: absolute;
	top: 12px;
	font-size: 200%;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-fastforward2 .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basebutton_remote_small-default-plex-stop {
	position: relative;
}

.widget-basebutton_remote_small-default-plex-stop .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-stop .title2 {
	position: absolute;
	bottom: -5px;
	height: 60%;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-stop .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-stop .icon {
	position: absolute;
	top: 12px;
	font-size: 200%;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-stop .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basebutton_remote_small-default-plex-playpause {
	position: relative;
}

.widget-basebutton_remote_small-default-plex-playpause .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-playpause .title2 {
	position: absolute;
	bottom: -5px;
	height: 60%;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-playpause .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-playpause .icon {
	position: absolute;
	top: 12px;
	font-size: 200%;
	width: 100%;
}

.widget-basebutton_remote_small-default-plex-playpause .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basebutton_remote_small-default-ir-tv-volume-down {
	position: relative;
}

.widget-basebutton_remote_small-default-ir-tv-volume-down .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basebutton_remote_small-default-ir-tv-volume-down .title2 {
	position: absolute;
	bottom: -5px;
	height: 60%;
	width: 100%;
}

.widget-basebutton_remote_small-default-ir-tv-volume-down .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basebutton_remote_small-default-ir-tv-volume-down .icon {
	position: absolute;
	top: 12px;
	font-size: 200%;
	width: 100%;
}

.widget-basebutton_remote_small-default-ir-tv-volume-down .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basebutton_remote_small-default-ir-tv-volume-up {
	position: relative;
}

.widget-basebutton_remote_small-default-ir-tv-volume-up .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basebutton_remote_small-default-ir-tv-volume-up .title2 {
	position: absolute;
	bottom: -5px;
	height: 60%;
	width: 100%;
}

.widget-basebutton_remote_small-default-ir-tv-volume-up .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basebutton_remote_small-default-ir-tv-volume-up .icon {
	position: absolute;
	top: 12px;
	font-size: 200%;
	width: 100%;
}

.widget-basebutton_remote_small-default-ir-tv-volume-up .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basebutton_remote_short-default-ir-tv-sleep {
	position: relative;
}

.widget-basebutton_remote_short-default-ir-tv-sleep .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basebutton_remote_short-default-ir-tv-sleep .title2 {
	position: absolute;
	bottom: -5px;
	height: 60%;
	width: 100%;
}

.widget-basebutton_remote_short-default-ir-tv-sleep .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basebutton_remote_short-default-ir-tv-sleep .icon {
	position: absolute;
	top: 0px;
	font-size: 400%;
	width: 100%;
}

.widget-basebutton_remote_short-default-ir-tv-sleep .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basenavigate_hor-default-remote-plex .icon {
	position: absolute;
	top: 8px;
	width: 50%;
}

.widget-basenavigate_hor-default-remote-plex .title {
	position: absolute;
	right: 3px;
	top: 5px;
	width: 60%;
}

.widget-basenavigate_hor-default-remote-plex .title2 {
	position: absolute;
	right: 3px;
	top: 21px;
	width: 60%;
}

.widget-basenavigate_hor-default-remote-plex .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basenavigate_hor-default-remote-tv .icon {
	position: absolute;
	top: 8px;
	width: 50%;
}

.widget-basenavigate_hor-default-remote-tv .title {
	position: absolute;
	right: 3px;
	top: 5px;
	width: 60%;
}

.widget-basenavigate_hor-default-remote-tv .title2 {
	position: absolute;
	right: 3px;
	top: 21px;
	width: 60%;
}

.widget-basenavigate_hor-default-remote-tv .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-baseswitch_short-default-bedroom-off {
	position: relative;
}

.widget-baseswitch_short-default-bedroom-off .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch_short-default-bedroom-off .title2 {
	position: absolute;
	top: 20px;
	width: 100%;
}

.widget-baseswitch_short-default-bedroom-off .state_text {
	position: absolute;
	bottom: -6px;
	font-size: 90%;
	width: 100%;
}

.widget-baseswitch_short-default-bedroom-off .icon {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baseswitch_short-default-bedroom-off .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basenavigate-default-load-main-panel .icon {
	position: absolute;
	top: 28px;
	width: 100%;
}

.widget-basenavigate-default-load-main-panel .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basenavigate-default-load-main-panel .title2 {
	position: absolute;
	bottom: -2px;
	width: 100%;
}

.widget-basenavigate-default-load-main-panel .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basenavigate-default-load-familyroom-panel .icon {
	position: absolute;
	top: 28px;
	width: 100%;
}

.widget-basenavigate-default-load-familyroom-panel .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basenavigate-default-load-familyroom-panel .title2 {
	position: absolute;
	bottom: -2px;
	width: 100%;
}

.widget-basenavigate-default-load-familyroom-panel .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basenavigate-default-load-theatre-panel .icon {
	position: absolute;
	top: 28px;
	width: 100%;
}

.widget-basenavigate-default-load-theatre-panel .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basenavigate-default-load-theatre-panel .title2 {
	position: absolute;
	bottom: -2px;
	width: 100%;
}

.widget-basenavigate-default-load-theatre-panel .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basenavigate-default-load-bedroom-panel .icon {
	position: absolute;
	top: 28px;
	width: 100%;
}

.widget-basenavigate-default-load-bedroom-panel .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basenavigate-default-load-bedroom-panel .title2 {
	position: absolute;
	bottom: -2px;
	width: 100%;
}

.widget-basenavigate-default-load-bedroom-panel .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basenavigate-default-load-sensors-panel .icon {
	position: absolute;
	top: 28px;
	width: 100%;
}

.widget-basenavigate-default-load-sensors-panel .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basenavigate-default-load-sensors-panel .title2 {
	position: absolute;
	bottom: -2px;
	width: 100%;
}

.widget-basenavigate-default-load-sensors-panel .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basenavigate-default-load-weather .icon {
	position: absolute;
	top: 28px;
	width: 100%;
}

.widget-basenavigate-default-load-weather .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basenavigate-default-load-weather .title2 {
	position: absolute;
	bottom: -2px;
	width: 100%;
}

.widget-basenavigate-default-load-weather .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basenavigate-default-load-settings .icon {
	position: absolute;
	top: 28px;
	width: 100%;
}

.widget-basenavigate-default-load-settings .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basenavigate-default-load-settings .title2 {
	position: absolute;
	bottom: -2px;
	width: 100%;
}

.widget-basenavigate-default-load-settings .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basenavigate-default-reload .icon {
	position: absolute;
	top: 28px;
	width: 100%;
}

.widget-basenavigate-default-reload .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basenavigate-default-reload .title2 {
	position: absolute;
	bottom: -2px;
	width: 100%;
}

.widget-basenavigate-default-reload .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
