.widget-basedisplay_short-{{id}} .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay_short-{{id}} .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay_short-{{id}} .valueunit {
	position: absolute;
	top: 45px;
	width: 100%;
}

.widget-basedisplay_short-{{id}} .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-{{id}} .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay_short-{{id}} .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

