.widget-basenavigate-{{id}} .icon {
	position: absolute;
	top: 28px;
	width: 100%;
}

.widget-basenavigate-{{id}} .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basenavigate-{{id}} .title2 {
	position: absolute;
	bottom: -2px;
	width: 100%;
}

.widget-basenavigate-{{id}} .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}